<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>


<body>

    <div id="page-container">
      <div id="content-wrap">
          <%= render "basic/header" %>

            <div class="wrapper">
              <div class="title">
                <h1>Home page</h1>
              </div>
            </div>
      </div>

        <%= render "basic/footer" %>
    </div>
</body>

</html>